@if (!isSendCodeForm && !isResetDataForm ) {
<div class="w-10/12 mx-auto">
  <h3 class="text-main">{{"send your Email" | translate}}</h3>

  <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">

    @if (isErrorMsg) {
      <div class="alerted p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <p class="">{{"Error" | translate}}: {{errorMsg}}</p>
      </div>
    }

    <div>
      <label for="email">{{"email" | translate}}</label>
      <input type="email"  class="w-full rounded-lg border-gray-500 mt-2"  id="email" formControlName="email">

      @if (emailForm.get("email")?.errors && emailForm.get("email")?.touched ) {
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">

          @if (emailForm.get('email')?.getError('required')) {
            <p>{{"email is required" | translate}}</p>
          }
          @else if (emailForm.get('email')?.getError('email')) {
            <p>{{"email invalid" | translate}}</p>
          }
        </div>
      }

    </div>

    <button [disabled]="emailForm.invalid" class="btn-main my-2">
      {{"Submit" | translate}}
      @if (isLoding) {
        <i class="fa-solid fa-spin fa-spinner"></i>
      }
    </button>
  </form>
</div>
}

@if (isSendCodeForm) {

  <div class="w-10/12 mx-auto">
    <h3 class="text-main">{{"send your Code" | translate}}</h3>

    <form [formGroup]="codeForm" (ngSubmit)="sendCode()">

      @if (isErrorMsg) {
        <div class="alerted p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <p class="">{{"Error" | translate}}: {{errorMsg}}</p>
        </div>
      }

      <div>
        <label for="code">{{"Code" | translate}}</label>
        <input type="text"  class="w-full rounded-lg border-gray-500 mt-2"  id="code" formControlName="resetCode">

        @if (codeForm.get("resetCode")?.errors && codeForm.get("resetCode")?.touched ) {
          <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">

            @if (codeForm.get('resetCode')?.getError('required')) {
              <p>{{"code is required" | translate}}</p>
            }
          </div>
        }

      </div>

      <button [disabled]="codeForm.invalid" class="btn-main my-2">
        {{"Submit" | translate}}
        @if (isLoding) {
          <i class="fa-solid fa-spin fa-spinner"></i>
        }
      </button>
    </form>
  </div>

}

@if (isResetDataForm) {

  <div class="w-10/12 mx-auto">
    <h3 class="text-main">{{"reset your password" | translate}}</h3>

    <form [formGroup]="resetDataForm" (ngSubmit)="resetData()">

      @if (isErrorMsg) {
        <div class="alerted p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <p class="">{{"Error" | translate}}: {{errorMsg}}</p>
        </div>
      }

      <div>
        <label for="email">{{"email" | translate}}</label>
        <input type="email"  class="w-full rounded-lg border-gray-500 mt-2"  id="email" formControlName="email">

        @if (emailForm.get("email")?.errors && emailForm.get("email")?.touched ) {
          <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">

            @if (emailForm.get('email')?.getError('required')) {
              <p>{{"email is required" | translate}}</p>
            }
            @else if (emailForm.get('email')?.getError('email')) {
              <p>{{"email invalid" | translate}}</p>
            }
          </div>
        }
      </div>

      <div class="pt-2">
        <label for="newPassword">{{"New Password" | translate}}</label>
        <input type="password"  class="w-full rounded-lg border-gray-500 mt-2"  id="password" formControlName="newPassword">

        @if (resetDataForm.get("newPassword")?.errors && resetDataForm.get("newPassword")?.touched) {
          <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">

            @if (resetDataForm.get('newPassword')?.getError('required')) {
              <p>{{"password is required" | translate}}</p>
            }
            @else if (resetDataForm.get('newPassword')?.getError('pattern')) {
              <p>{{"Password invalid" | translate}}</p>
            }
          </div>
        }
      </div>

      <button [disabled]="resetDataForm.invalid" class="btn-main my-2">
        {{"Submit" | translate}}
        @if (isLoding) {
          <i class="fa-solid fa-spin fa-spinner"></i>
        }
      </button>
    </form>
  </div>

}
